<!--
  Author: David Kent, Georgia Institute of Technology
  Version: January 26, 2018
-->

<launch>
  <!-- Gripper Params -->
  <arg name="comport" default="/dev/ttyUSB0"/>
  <arg name="baud" default="115200"/>

  <!-- Segmentation Params -->
  <arg name="segmentation" default="true" />
  <arg name="use_color" default="false" />
  <arg name="min_cluster_size" default="100" />
  <arg name="max_cluster_size" default="20000" />

  <!-- Recognition Params -->
  <arg name="segmented_objects_topic" default="/rail_segmentation/segmented_objects" />

  <!-- Motion Planning Params -->
  <arg name="motion_planning" default="true" />

  <!-- Drivers -->
  <include file="$(find nimbus_bringup)/launch/nimbus_minimal.launch">
    <arg name="comport" value="$(arg comport)" />
    <arg name="baud" value="$(baud)" />
  </include>

  <!-- Vision -->
  <group if="$(arg segmentation)">
    <node name="rail_segmentation" pkg="rail_segmentation" type="rail_segmentation" output="screen">
      <param name="zones_config" value="$(find nimbus_bringup)/config/segmentation/zones.yaml" />
      <param name="point_cloud_topic" value="camera/depth_registered/points" />
      <param name="use_color" value="$(arg use_color)" />
      <param name="min_cluster_size" value="$(arg min_cluster_size)" />
      <param name="max_cluster_size" value="$(arg max_cluster_size)" />
    </node>
  </group>

  <!-- MoveIt -->
  <group if="$(arg motion_planning)">
    <include file="$(find nimbus_moveit_config)/launch/nimbus_moveit_full.launch" />
    <node pkg="nimbus_moveit_config" type="nimbus_moveit" name="nimbus_moveit" />
    <node pkg="nimbus_moveit_config" type="common_actions" name="common_actions" output="screen"/>
  </group>
</launch>
