<!--
   Author: David Kent, Worcester Polytechnic Institute
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: August 4, 2014
-->

<launch>
  <!-- Kinect v2 -->
  <arg name="fps_limit" default="-1.0" />
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true" />
    <arg name="publish_tf" value="false" />
    <arg name="rgb_camera_info_url" value="file://$(find nimbus_bringup)/config/camera_info/rgb_1411060937.yaml" />
    <arg name="depth_camera_info_url" value="file://$(find nimbus_bringup)/config/camera_info/depth_1411060937.yaml" />
  </include>
</launch>
